NEXT_PUBLIC_PRIVY_APP_ID=cmqwj7w9j01660dl5hgq6c01t
NEXT_PUBLIC_BIRDEYE_API_KEY=0c6d0585368a49609aa2c000fd92f054
NEXT_PUBLIC_ALCHEMY_RPC_URL=https://solana-mainnet.g.alchemy.com/v2/nK7vxwJo_5-Px1nxAR8HH
NEXT_PUBLIC_JUPITER_API=https://quote-api.jup.ag/v6
